body{
	/*background-color: lightgray;*/
}
table{
	width: 100%;
	border: 3px solid gray;
	border-collapse: collapse;
	caption-side: tap;
}
td,th{
	border: 3px solid gray;
}

/*fondo para las filas impares*/
table tr:nth-child(odd){
	background-color: white;
}

/*fondo para las filas pares*/
table tr:nth-child(even){
	background-color: #a2d9aa;
}

table tr th{
	background-color: black;
	color: white;
}

table tr:hover{
	background-color: green;
	color: white;
}