/* Fondo del sitio */
html {
  background: #c1e9a2;
}

/* Estilo de los encabezados */
h1, h2 {
  text-align: center;
  font-family: "Permanent Marker", cursive;
}

h1 {
  color: #8867d6;
}

h2 {
  color: #d66790;
}

/* Oculta el input tipo botón */
#mostrar {
  display: none;
}

/* Estilo general del body */
body {
  background-size: cover;                 
  background-position: center center;
  background-attachment: fixed;
  text-align: center;
  color: white;
}


label[for="mostrar"] {
  display: inline-block;
  padding: 10px 20px;
  background-color: #8867d6;
  font-family: "Permanent Marker", cursive;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px 0;
  transition: background-color 0.3s ease;
}


label[for="mostrar"]:hover {
  background-color: white;
  color: #8867d6;
}


.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}


.imagen img {
  width: 200px;
  border-radius: 10px;
  transition: transform 0.3s ease;
  border: 4px solid #d66790;
  margin: 4px;     
}

.imagen img:hover {
  transform: scale(1.05);
}


label[for="mostrar"]:hover ~ .galeria {
  display: none;
}
