body {
    font-family: sans-serif;
    background-image: url(imagenes/operacionesfondo.jpg);
    background-repeat: no-repeat;
    background-size: cover; /*ponerse en toda la pantalla*/
    background-position: center center; /* centrar imagen en el fondo */
    display: flex;
    flex-direction: column;
    align-items: center; /* centra elementos horizontalmente */
    min-height: 100vh;
    margin: 0;
    padding-top: 50px;
    box-sizing: border-box;
}

h1 {
    color: #333;
    margin-bottom: 30px;
    text-align: center;

    font-family: "Alfa Slab One", serif;
    color: white;
}

form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 600px;
    box-sizing: border-box;
}

label {
    font-family: "Single Day", cursive;

    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
    margin-top: 10px;
}

input[type="text"] {
    font-family: "Single Day", cursive;

    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="button"] {
    font-family: "Indie Flower", cursive;

    background-color: #ca9ff1;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

input[type="button"]:last-child {
    margin-right: 0;
}

input[type="button"]:hover {
    background-color: #0056b3;
}

p#r {
    margin-top: 30px;
    font-size: 1.2em;
    color: #333;
    font-weight: bold;
    text-align: center;

    background-color: #f9f9f9;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    padding: 15px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05); 
    width: 600px; 
    box-sizing: border-box; 
    margin-left: auto; 
    margin-right: auto; 
}